.catalog {
    padding: 5vw;
    padding-top: 2vh;
}

.catalog-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.search {
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 1px solid oldlace;
    color: white;
    font-size: 1.5em;
}

.userInfo {
    justify-self: end;
}

.userInfo h3 {
    display: inline-block;
    margin-left: 10px;
    align-self: end;
    justify-self: start;
}

.movieContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 80px;
}