.App {
  text-align: center;
  display: grid;
  grid-template-rows: 20vh 100vh;
  font-family: "Roboto";
}


#header {
  display: grid;
  grid-template-columns: 40% 55%;
  background-color: #282c34;
  align-content: center;
}

#links {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.main-links {
  display: grid;
  padding: 15px;
  font-size: 2em;
  text-decoration: none;
  color: aliceblue;
  align-content: end;
}

.main-links:hover{
  background-color:rgb(90, 90, 90);
}

#logo {
  height: 100%;
  justify-self: end;
}

